.divPlanosPage {
    margin: auto;
    margin-top: 20%;
    width: 65%;
    padding: 0%;
}

.divPlanos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    /* Adiciona espaço entre os planos */
}

.tituloPlanosPage {
    text-align: center;
    color: #9340FF;
}